# Ignora todo en .streamlit
.streamlit/*

# Incluye la carpeta .streamlit y sus subcarpetas
!.streamlit/
!.streamlit/*/
!.streamlit/**/*.py
!.streamlit/**/*.yaml
!.streamlit/.gitkeep

# Incluye específicamente google_credentials
!.streamlit/google_credentials/
!.streamlit/google_credentials/.gitkeep

# Ignora específicamente archivos sensibles
.streamlit/secrets.toml
.streamlit/google_credentials/service-account-key.json

# Resto de archivos a ignorar
src/.streamlit/secrets.toml
src/__pycache__/
src/app.log
old/
models/
docs/diagrams
app.log
cand/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
