# Primero ignora todo dentro de .streamlit
.streamlit/*

# Luego incluye la carpeta y subcarpetas
!.streamlit/
!.streamlit/*/

# Finalmente ignora archivos específicos
.streamlit/secrets.toml
.streamlit/google_credentials/service-account-key.json
src/.streamlit/secrets.toml
src/__pycache__/
src/app.log
old/
models/
docs/diagrams
app.log
cand/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
